html {
    --border: 1px dotted red;
    --padding: 1em 1em;
    --margin: 1em 0;

    --nav__bar: lightblue;

}



* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.__flex {
    display: flex;
    justify-content: center;
}

#__nav__bar {
    background-color: var(--nav__bar);
}

.__nav__item__container {
    border: var();
    justify-content: space-around;
    /* background-color: aliceblue; */
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

.__nav__flex__item{
    background-color: bisque;
    margin: var(--margin);
    padding: var(--padding);
}
#__logo{

    flex-grow: 1;
}
#__link{
    text-align: center;
    flex-grow: 3;
}
#__login{
    text-align: end;
    flex-grow: 1;
   
}
#__section__1{
    background-color: blue;
    
}

#__content__item__1{
    background-color: bisque;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    width: 905px;
    height: 396px;
}


